---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
[1]	Thermal Performance of Packed-Bed Latent Heat Storage Tank Integrated with Flat-Plate Collectors Under Intermittent Loads of Building Heating
Jiatao Liu, Shilei Lyu*
Energy. Apr. 2024
[2]	Optimal Design of Air Distribution Systems in Large Indoor Spaces During the Construction of Walls: A Case Study on Liquefied Natural Gas Terminal Storage Tanks
Yan Ding*, Xiao Pan, Xiong Shen, Jianbo Lai, Yan Zhu, Jiatao Liu, Jobaier, Faezeh Pishahang
Journal of Building Engineering. May. 2024
[3]	Quantitative Method and Influencing Factors Analysis of Demand Response Performance of Air Conditioning Load with Rebound Effect
Ran Wang, Xiaoyue Xin, Jiatao Liu, Shilei Lu*, Yunjun Sun, Wenduan Zhao
Submitted to Building Simulation. July. 2024
[4]	Combination of UV Radiation with 3D Structure Media Filter for Indoor Air Disinfection.
Jiatao Liu, Junjie Liu*, Yingying Fan and Pan Wang 
The 16th ROOMVENT Conference (ROOMVENT 2022). Aug. 2022




<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



